@using PoslovnaLogika.Service;
@using PoslovnaLogika.Models;
@using Drugi_zadatak___II_level.Models;
@model Drugi_zadatak___II_level.Models.IVoziloModelVM

@{
    ViewBag.Title = "Create";
    VoziloServis servis = new VoziloServis();
    Mape Mapa = new Mape();
    IList<IVoziloMarka> lista = servis.DohvatiMarke();
    IList<IVoziloMarkaVM> listaVM = Mapa.maper.Map<IList<IVoziloMarkaVM>>(lista);
}

<h2>Kreiraj</h2>

<script type="text/javascript">
    function promjeni() {
        var marka = document.getElementById("Marka");
        var kratica = marka.options[marka.selectedIndex].text;
        var id = marka.value;
        document.getElementById("IdMarke").value = id;
        document.getElementById("Kratica").value = kratica;
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Marka vozila", htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdMarke,
                 listaVM.Select(item => new SelectListItem { Value = item.Id.ToString(), Text = item.Kratica }),
                 "--odaberi--",
                 new
                 {
                     onchange = "promjeni()"
                     , id = "Marka"
                     , @class = "form-control"
                 })
                @Html.ValidationMessageFor(model => model.IdMarke, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.IdMarke)
            @Html.HiddenFor(model => model.Kratica)
            
            @Html.ValidationMessageFor(model => model.Kratica, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-default" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="Message">@ViewBag.Message</span>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Lista", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
